.display{
    width: 200px;
    height: 75px;
    background-color: silver;
    color: #000;
}

.layout{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 200px;
    height: auto;
    background-color: cornflowerblue;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}